@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a1a;
  --foreground: #ffffff;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-oswald: 'Oswald', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-oswald);
}
